<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-full" style="width:1250px;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#0072c6;color: white;">
                <h4 class="modal-title">CDC</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="right-main">
                    <div class="rows">
                        <div class="row padding15">
                            <div class="col-md-5">
                                <label for="sel1">CDC TYPE</label>
                            </div>
                            <div class="col-md-5">
                                <label for="sel1">FILE TYPE</label>
                            </div>
                        </div>
                        <div class="row padding15" style="margin-bottom: 10px;">
                            <div class="col-md-5">
                                <select class="form-control" id="sel1" name="sellist1">
                                    <option>TYPE 1</option>
                                    <option>TYPE 2</option>
                                    <option>TYPE 3</option>
                                    <option>TYPE 4</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control" id="sel1" name="sellist1">
                                    <option>TYPE 1</option>
                                    <option>TYPE 2</option>
                                    <option>TYPE 3</option>
                                    <option>TYPE 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-5 pd">
                                <label class="grid1">KEYS</label>
                            </div>
                            <div class="col-md-5">
                                <label class="grid1">Ignore Fields</label>
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-3">
                                <input type="text" class="pd">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary valid">Select Keys</button>
                            </div>
                            <div class="col-md-3 ">
                                <input type="text" class="pd">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary valid">Select Keys</button>
                            </div>
                        </div>
                        <div class="row padding15" style="margin-bottom: 10px;">
                            <div class="col-sm-6">
                                <label class="grid">Flagship attributes</label>
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-5 pd">
                                <label for="sel1">Effective Start Date</label>
                            </div>
                            <div class="col-md-5 pd2">
                                <label for="sel1">Format</label>
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-5">
                                <input type="text" class="pd1">
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="pd1">
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-5 pd">
                                <label for="sel1">Effective End Date</label>
                            </div>
                            <div class="col-md-5 pd2">
                                <label for="sel1">Format</label>
                            </div>
                        </div>
                        <div class="row padding15" >
                            <div class="col-md-5">
                                <input type="text" class="pd1">
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="pd1">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn subnav-icons1">Submit</button>
            </div>
        </div>
    </div>
</div>
