
    <div class="container-fluid">
      <div class="row subnav">
          <div class="col-2">
              <div class="curateLogo">
                  <svg class="mainLogo" xmlns="http://www.w3.org/2000/svg" width="38.12" height="25.991"
                      viewBox="0 0 38.12 25.991">
                      <g id="visibility-button" transform="translate(0 -89.25)">
                          <g id="visibility" transform="translate(0 89.25)">
                              <path id="Path_224" data-name="Path 224"
                                  d="M19.06,89.25a20.415,20.415,0,0,0-19.06,13,20.475,20.475,0,0,0,38.12,0A20.415,20.415,0,0,0,19.06,89.25Zm0,21.659a8.664,8.664,0,1,1,8.664-8.664A8.58,8.58,0,0,1,19.06,110.909Zm0-13.862a5.2,5.2,0,1,0,5.2,5.2A5.105,5.105,0,0,0,19.06,97.047Z"
                                  transform="translate(0 -89.25)" fill="#1656a2" />
                          </g>
                      </g>
                  </svg>Curate</div>
          </div>
          <div class="col-4 sub">
              <div class="row">
                  <div class="col-md-8">
                      <select class="form-control" id="sel1" name="sellist1">
                          <option>Select Template</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                      </select>
                  </div>
              </div>
          </div>
          <div class="col-6 img">
              <button type="button" class="subnav-icons">
                  <svg class="svgsaveTemplate subnavicons" xmlns="http://www.w3.org/2000/svg" width="18.116"
                      height="21.472" viewBox="0 0 18.116 21.472">
                      <g id="tex-template" transform="translate(-29.641)">
                          <path id="Path_1354" data-name="Path 1354"
                              d="M47.191,0H30.207a.567.567,0,0,0-.566.566v20.34a.567.567,0,0,0,.566.566H47.191a.567.567,0,0,0,.566-.566V.566A.567.567,0,0,0,47.191,0Zm-.566,20.34H30.773V5.466H46.625Z"
                              fill="#169ddd" />
                          <path id="Path_1355" data-name="Path 1355"
                              d="M84.924,134.132H96.246a.283.283,0,0,0,.283-.283v-1.925a.283.283,0,0,0-.283-.283H84.924a.283.283,0,0,0-.283.283v1.925A.283.283,0,0,0,84.924,134.132Z"
                              transform="translate(-51.886 -124.189)" fill="#169ddd" />
                          <path id="Path_1356" data-name="Path 1356"
                              d="M84.924,223.585h5.152a.283.283,0,0,0,.283-.283v-5.378a.283.283,0,0,0-.283-.283H84.924a.283.283,0,0,0-.283.283V223.3A.283.283,0,0,0,84.924,223.585Z"
                              transform="translate(-51.886 -205.32)" fill="#169ddd" />
                          <path id="Path_1357" data-name="Path 1357"
                              d="M218.887,217.641h-3.963a.283.283,0,0,0-.283.283v1.642a.283.283,0,0,0,.283.283h3.963a.283.283,0,0,0,.283-.283v-1.642A.283.283,0,0,0,218.887,217.641Z"
                              transform="translate(-174.527 -205.32)" fill="#169ddd" />
                          <path id="Path_1358" data-name="Path 1358"
                              d="M218.887,282.324h-3.963a.283.283,0,0,0-.283.283v1.642a.283.283,0,0,0,.283.283h3.963a.283.283,0,0,0,.283-.283v-1.642A.283.283,0,0,0,218.887,282.324Z"
                              transform="translate(-174.527 -266.341)" fill="#169ddd" />
                      </g>
                  </svg>
                  Save Template
              </button>
              <button type="button" class="subnav-icons">
                  <svg class="svgsaveTemplate svgJob subnavicons" xmlns="http://www.w3.org/2000/svg" width="27"
                      height="21" viewBox="0 0 27 21">
                      <g id="upload-folder" transform="translate(0 -5)">
                          <path id="Path_359" data-name="Path 359"
                              d="M26.67,10.062A1.5,1.5,0,0,0,25.5,9.5H24A1.5,1.5,0,0,0,22.5,8H21V6.5A1.5,1.5,0,0,0,19.5,5H1.5A1.5,1.5,0,0,0,0,6.5v18A1.5,1.5,0,0,0,1.5,26H11.615V20.649H9.74a.75.75,0,0,1-.53-1.28l5.25-5.249a.751.751,0,0,1,1.061,0l5.25,5.25a.749.749,0,0,1-.53,1.279H18.367V26H22.5a1.5,1.5,0,0,0,1.463-1.175l3-13.5A1.5,1.5,0,0,0,26.67,10.062ZM19.5,8H18a1.5,1.5,0,0,0-1.5,1.5h-9a1.5,1.5,0,0,0-1.464,1.175l-3,13.5A1.5,1.5,0,0,0,3,24.5H1.5V6.5h18Z"
                              fill="#169ddd" />
                      </g>
                  </svg>

                  Save Job
              </button>
              <button type="button" class="subnav-icons subnavActivebtn">
                  <svg class="svgsaveTemplate scheduleimg " id="grid" xmlns="http://www.w3.org/2000/svg"
                      width="21.088" height="21.088" viewBox="0 0 21.088 21.088">
                      <path id="Path_360" data-name="Path 360" d="M144,184h7.532v6.778H144Zm0,0"
                          transform="translate(-137.222 -175.339)" fill="#fff" />
                      <path id="Path_361" data-name="Path 361"
                          d="M0,82.076H21.088V64H0ZM1.883,69.649a.377.377,0,1,1,0-.753H6.025V65.883a.377.377,0,1,1,.753,0V68.9H14.31V65.883a.377.377,0,1,1,.753,0V68.9h4.142a.377.377,0,1,1,0,.753H15.063v6.778h4.142a.377.377,0,0,1,0,.753H15.063v3.013a.377.377,0,1,1-.753,0V77.18H6.778v3.013a.377.377,0,1,1-.753,0V77.18H1.883a.377.377,0,0,1,0-.753H6.025V69.649Zm0,0"
                          transform="translate(0 -60.987)" fill="#fff" />
                      <path id="Path_362" data-name="Path 362"
                          d="M21.088,0H0V2.259H21.088ZM1.506,1.506H.753V.753h.753Zm1.506,0H2.259V.753h.753Zm1.506,0H3.766V.753h.753Zm0,0"
                          fill="#fff" />
                  </svg>
                  Schedule
              </button>
              <button type="button" class="btn-next-ply">
                  <img class="pltfrm-img btn-next-ply-img" src="../../../../../assets/images/play.png">
              </button>
              <button type="button" class="btn-next-stp">
                  <img class="pltfrm-img btn-next-ply-img" src="../../../../../assets/images/stop.png">
              </button>
          </div>
      </div>

      <div class="row mainpage">
          <div class="col-md-2 leftblock">
              <div id="accordion">
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                          <a class="card-link">
                              <svg class="sidenavsvg" xmlns="http://www.w3.org/2000/svg" width="21.349"
                                  height="15.998" viewBox="0 0 21.349 15.998">
                                  <g id="open-folder" transform="translate(0 -67.229)">
                                      <g id="Group_558" data-name="Group 558" transform="translate(0 67.229)">
                                          <path id="Path_1373" data-name="Path 1373"
                                              d="M5.761,75.041A5.346,5.346,0,0,1,8,74.5h9.453V72.683a2.561,2.561,0,0,0-2.545-2.545H8.726v-.364a2.449,2.449,0,0,0-.75-1.8,2.45,2.45,0,0,0-1.8-.75H2.545a2.449,2.449,0,0,0-1.8.75,2.449,2.449,0,0,0-.75,1.8V80.682q0,.046.006.142c0,.064.006.112.006.142L.068,80.9,3.9,76.4A5.3,5.3,0,0,1,5.761,75.041Z"
                                              transform="translate(0 -67.229)" fill="#1656a2" />
                                          <path id="Path_1374" data-name="Path 1374"
                                              d="M41.062,286.642a1.539,1.539,0,0,0-.687-.148H28.012a3.943,3.943,0,0,0-1.63.4,3.852,3.852,0,0,0-1.369.983l-3.818,4.5a1.169,1.169,0,0,0-.352.75.5.5,0,0,0,.3.488,1.538,1.538,0,0,0,.687.148H34.194a3.945,3.945,0,0,0,1.63-.4,3.85,3.85,0,0,0,1.369-.983l3.818-4.5a1.169,1.169,0,0,0,.352-.75A.5.5,0,0,0,41.062,286.642Z"
                                              transform="translate(-20.014 -277.768)" fill="#1656a2" />
                                      </g>
                                  </g>
                              </svg>
                              Sources
                              <svg class="sidenavadd" xmlns="http://www.w3.org/2000/svg" width="24.568"
                                  height="24.568" viewBox="0 0 24.568 24.568">
                                  <g id="Group_549" data-name="Group 549" transform="translate(-269 -321)">
                                      <g id="Rectangle_966" data-name="Rectangle 966" transform="translate(269 321)"
                                          fill="#fff" stroke="#47b2e3" stroke-width="2">
                                          <rect width="24.568" height="24.568" stroke="none" />
                                          <rect x="1" y="1" width="22.568" height="22.568" fill="none" />
                                      </g>
                                      <g id="Group_434" data-name="Group 434" transform="translate(276.371 328.371)">
                                          <rect id="Rectangle_967" data-name="Rectangle 967" width="2.457"
                                              height="9.827" transform="translate(3.685)" fill="#47b2e3" />
                                          <rect id="Rectangle_968" data-name="Rectangle 968" width="2.457"
                                              height="9.827" transform="translate(9.827 3.685) rotate(90)"
                                              fill="#47b2e3" />
                                      </g>
                                  </g>
                              </svg>
                              <i class="sidenavminus"></i>
                          </a>
                      </div>
                      <div id="collapseOne" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <div class="card-link-body" (click)="sourceType = 'table'">
                                  Table
                              </div>
                              <div class="card-link-body" (click)="sourceType = 'file'">
                                  File
                              </div>
                          </div>
                      </div>
                  </div>

              </div>


              <div id="accordion">
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                          <a class="card-link">
                              <svg class="sidenavsvg" id="dot-and-circle" xmlns="http://www.w3.org/2000/svg"
                                  width="19.42" height="19.42" viewBox="0 0 19.42 19.42">
                                  <g id="Group_557" data-name="Group 557" transform="translate(0 0)">
                                      <path id="Path_1370" data-name="Path 1370"
                                          d="M18.118,4.836A9.669,9.669,0,0,0,14.584,1.3,9.5,9.5,0,0,0,9.71,0,9.5,9.5,0,0,0,4.836,1.3,9.667,9.667,0,0,0,1.3,4.836,9.5,9.5,0,0,0,0,9.71a9.5,9.5,0,0,0,1.3,4.874,9.669,9.669,0,0,0,3.534,3.534,9.5,9.5,0,0,0,4.874,1.3,9.5,9.5,0,0,0,4.874-1.3,9.667,9.667,0,0,0,3.534-3.534,9.5,9.5,0,0,0,1.3-4.874A9.5,9.5,0,0,0,18.118,4.836Zm-2.453,8.325a6.859,6.859,0,0,1-2.5,2.5,6.722,6.722,0,0,1-3.452.923,6.723,6.723,0,0,1-3.452-.923,6.859,6.859,0,0,1-2.5-2.5A6.721,6.721,0,0,1,2.832,9.71a6.723,6.723,0,0,1,.923-3.452,6.856,6.856,0,0,1,2.5-2.5A6.722,6.722,0,0,1,9.71,2.832a6.722,6.722,0,0,1,3.452.923,6.856,6.856,0,0,1,2.5,2.5,6.722,6.722,0,0,1,.923,3.452A6.722,6.722,0,0,1,15.665,13.161Z"
                                          transform="translate(0 0)" fill="#1656a2" />
                                      <path id="Path_1371" data-name="Path 1371"
                                          d="M149.418,146.178a3.237,3.237,0,1,0,2.288.948A3.119,3.119,0,0,0,149.418,146.178Z"
                                          transform="translate(-139.708 -139.705)" fill="#1656a2" />
                                  </g>
                              </svg>
                              Targets
                              <svg class="sidenavadd" xmlns="http://www.w3.org/2000/svg" width="24.568"
                                  height="24.568" viewBox="0 0 24.568 24.568">
                                  <g id="Group_549" data-name="Group 549" transform="translate(-269 -321)">
                                      <g id="Rectangle_966" data-name="Rectangle 966" transform="translate(269 321)"
                                          fill="#fff" stroke="#47b2e3" stroke-width="2">
                                          <rect width="24.568" height="24.568" stroke="none" />
                                          <rect x="1" y="1" width="22.568" height="22.568" fill="none" />
                                      </g>
                                      <g id="Group_434" data-name="Group 434" transform="translate(276.371 328.371)">
                                          <rect id="Rectangle_967" data-name="Rectangle 967" width="2.457"
                                              height="9.827" transform="translate(3.685)" fill="#47b2e3" />
                                          <rect id="Rectangle_968" data-name="Rectangle 968" width="2.457"
                                              height="9.827" transform="translate(9.827 3.685) rotate(90)"
                                              fill="#47b2e3" />
                                      </g>
                                  </g>
                              </svg>
                              <i class="sidenavminus"></i>

                          </a>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <div class="card-link-body">
                                  Sources1
                              </div>
                              <div class="card-link-body">
                                  Sources2
                              </div>
                          </div>
                      </div>
                  </div>

              </div>


              <div id="accordion">
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                          <a class="card-link">
                              <svg class="sidenavsvg" id="chat-bubble" xmlns="http://www.w3.org/2000/svg"
                                  width="18.887" height="18.695" viewBox="0 0 18.887 18.695">
                                  <path id="Path_1360" data-name="Path 1360"
                                      d="M144.712,117.366a2.331,2.331,0,1,0-2.331,2.331A2.333,2.333,0,0,0,144.712,117.366Zm0,0"
                                      transform="translate(-132.938 -109.193)" fill="#1656a2" />
                                  <path id="Path_1361" data-name="Path 1361"
                                      d="M18.887,16.346V0H0V16.346H2.988l2.348,2.349,2.349-2.349ZM8.682,13.3V11.951a3.834,3.834,0,0,1-1.37-.569l-.953.953L5.282,11.258l.953-.953a3.829,3.829,0,0,1-.569-1.37H4.319V7.411H5.665a3.837,3.837,0,0,1,.569-1.37l-.953-.953L6.359,4.011l.953.953a3.834,3.834,0,0,1,1.37-.569V3.049h1.524V4.395a3.833,3.833,0,0,1,1.37.569l.953-.953,1.077,1.077-.953.953a3.831,3.831,0,0,1,.569,1.37h1.346V8.935H13.222a3.834,3.834,0,0,1-.569,1.37l.953.953-1.077,1.077-.953-.953a3.829,3.829,0,0,1-1.37.569V13.3Zm0,0"
                                      fill="#1656a2" />
                              </svg>
                              Services
                              <svg class="sidenavadd" xmlns="http://www.w3.org/2000/svg" width="24.568"
                                  height="24.568" viewBox="0 0 24.568 24.568">
                                  <g id="Group_549" data-name="Group 549" transform="translate(-269 -321)">
                                      <g id="Rectangle_966" data-name="Rectangle 966" transform="translate(269 321)"
                                          fill="#fff" stroke="#47b2e3" stroke-width="2">
                                          <rect width="24.568" height="24.568" stroke="none" />
                                          <rect x="1" y="1" width="22.568" height="22.568" fill="none" />
                                      </g>
                                      <g id="Group_434" data-name="Group 434" transform="translate(276.371 328.371)">
                                          <rect id="Rectangle_967" data-name="Rectangle 967" width="2.457"
                                              height="9.827" transform="translate(3.685)" fill="#47b2e3" />
                                          <rect id="Rectangle_968" data-name="Rectangle 968" width="2.457"
                                              height="9.827" transform="translate(9.827 3.685) rotate(90)"
                                              fill="#47b2e3" />
                                      </g>
                                  </g>
                              </svg>
                              <i class="sidenavminus"></i>

                          </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <div class="card-link-body" *ngFor="let pcs of processByType" (click)="onServiceChange($event,pcs)">
                                {{pcs.pcs_nm}}
                              </div>
                              <!-- <div class="card-link-body">
                                  Sources2
                              </div> -->
                          </div>
                      </div>
                  </div>

              </div>
              <div id="accordion">
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseFour">
                          <a class="card-link">
                              <svg class="sidenavsvg" xmlns="http://www.w3.org/2000/svg" width="19.522"
                                  height="18.688" viewBox="0 0 19.522 18.688">
                                  <g id="data" transform="translate(0 0)">
                                      <path id="Path_1364" data-name="Path 1364"
                                          d="M172.215,211h1.863v1.863h-1.863Zm0,0"
                                          transform="translate(-161.523 -197.9)" fill="#1656a2" />
                                      <path id="Path_1365" data-name="Path 1365"
                                          d="M112.215,211h1.863v1.863h-1.863Zm0,0"
                                          transform="translate(-105.248 -197.9)" fill="#1656a2" />
                                      <path id="Path_1366" data-name="Path 1366" d="M202.215,8.789v5.042h5.042Zm0,0"
                                          transform="translate(-189.66 -8.243)" fill="#1656a2" />
                                      <path id="Path_1367" data-name="Path 1367"
                                          d="M0,271l1.49,1.863H18.032L19.522,271Zm0,0"
                                          transform="translate(0 -254.175)" fill="#1656a2" />
                                      <path id="Path_1369" data-name="Path 1369"
                                          d="M25.94,11.238h9.313v3.725h3.725V7.45h-7.45V0H22.215V14.963H25.94Zm0-7.512h3.725V5.588H25.94Zm0,3.725h3.725V9.313H25.94Zm0,0"
                                          transform="translate(-20.836)" fill="#1656a2" />
                                  </g>
                              </svg>
                              Processing
                              <svg class="sidenavadd" xmlns="http://www.w3.org/2000/svg" width="24.568"
                                  height="24.568" viewBox="0 0 24.568 24.568">
                                  <g id="Group_549" data-name="Group 549" transform="translate(-269 -321)">
                                      <g id="Rectangle_966" data-name="Rectangle 966" transform="translate(269 321)"
                                          fill="#fff" stroke="#47b2e3" stroke-width="2">
                                          <rect width="24.568" height="24.568" stroke="none" />
                                          <rect x="1" y="1" width="22.568" height="22.568" fill="none" />
                                      </g>
                                      <g id="Group_434" data-name="Group 434" transform="translate(276.371 328.371)">
                                          <rect id="Rectangle_967" data-name="Rectangle 967" width="2.457"
                                              height="9.827" transform="translate(3.685)" fill="#47b2e3" />
                                          <rect id="Rectangle_968" data-name="Rectangle 968" width="2.457"
                                              height="9.827" transform="translate(9.827 3.685) rotate(90)"
                                              fill="#47b2e3" />
                                      </g>
                                  </g>
                              </svg>
                              <i class="sidenavminus"></i>

                          </a>
                      </div>
                      <div id="collapseFour" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <div class="card-link-body">
                                  Sources1
                              </div>
                              <div class="card-link-body">
                                  Sources2
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
              <div id="accordion">
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseFive">
                          <a class="card-link">
                              <svg class="sidenavsvg" xmlns="http://www.w3.org/2000/svg" width="17" height="16.552"
                                  viewBox="0 0 17 16.552">
                                  <g id="extract-file-button" transform="translate(0 -0.593)">
                                      <path id="Path_1372" data-name="Path 1372"
                                          d="M16.056,7.7h-.944V1.065a.473.473,0,0,0-.472-.472H2.361a.472.472,0,0,0-.472.472V7.7H.944A.944.944,0,0,0,0,8.645V16.2a.944.944,0,0,0,.944.944H16.056A.944.944,0,0,0,17,16.2V8.645A.944.944,0,0,0,16.056,7.7ZM12.289,14.76H4.71V12.871h7.579ZM14.167,7.7h-.944a.944.944,0,0,0-.944.944v1.889H10.625V6.481h1.181a.472.472,0,0,0,.333-.806L8.834,2.369a.472.472,0,0,0-.668,0L4.86,5.674a.472.472,0,0,0,.334.806H6.375v4.054H4.721V8.645A.944.944,0,0,0,3.777,7.7H2.833V1.537H14.166V7.7Z"
                                          fill="#1656a2" />
                                  </g>
                              </svg>

                              Extraction
                              <svg class="sidenavadd" xmlns="http://www.w3.org/2000/svg" width="24.568"
                                  height="24.568" viewBox="0 0 24.568 24.568">
                                  <g id="Group_549" data-name="Group 549" transform="translate(-269 -321)">
                                      <g id="Rectangle_966" data-name="Rectangle 966" transform="translate(269 321)"
                                          fill="#fff" stroke="#47b2e3" stroke-width="2">
                                          <rect width="24.568" height="24.568" stroke="none" />
                                          <rect x="1" y="1" width="22.568" height="22.568" fill="none" />
                                      </g>
                                      <g id="Group_434" data-name="Group 434" transform="translate(276.371 328.371)">
                                          <rect id="Rectangle_967" data-name="Rectangle 967" width="2.457"
                                              height="9.827" transform="translate(3.685)" fill="#47b2e3" />
                                          <rect id="Rectangle_968" data-name="Rectangle 968" width="2.457"
                                              height="9.827" transform="translate(9.827 3.685) rotate(90)"
                                              fill="#47b2e3" />
                                      </g>
                                  </g>
                              </svg>
                              <i class="sidenavminus"></i>

                          </a>
                      </div>
                      <div id="collapseFive" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <div class="card-link-body">
                                  Sources1
                              </div>
                              <div class="card-link-body">
                                  Sources2
                              </div>
                          </div>
                      </div>
                  </div>

              </div>

              <div id="accordion">
                  <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseSeven">
                          <a class="card-link">
                              <svg class="sidenavsvg" xmlns="http://www.w3.org/2000/svg" width="17.5" height="20"
                                  viewBox="0 0 17.5 20">
                                  <g id="data-cleaning" transform="translate(-1)">
                                      <path id="Path_1362" data-name="Path 1362"
                                          d="M15,10a3.754,3.754,0,0,0-3.75-3.75H9.541L9.99,2.655A1.2,1.2,0,0,0,10,2.5a2.5,2.5,0,1,0-5,0,1.2,1.2,0,0,0,.01.155L5.459,6.25H3.75A3.754,3.754,0,0,0,0,10v1.25H15V10ZM7.5,1.875a.625.625,0,1,1-.625.625A.625.625,0,0,1,7.5,1.875Z"
                                          transform="translate(2.25)" fill="#1656a2" />
                                      <path id="Path_1363" data-name="Path 1363"
                                          d="M15.166,0H2.335A22.32,22.32,0,0,1,0,7.5H2.452A8.085,8.085,0,0,0,4.375,4.375a13.162,13.162,0,0,1,.591,3.049c1.279-1.6,2.409-3.576,2.409-4.3A19.4,19.4,0,0,1,8.1,7.5h1.927a13.158,13.158,0,0,1,.6-3.125A8.085,8.085,0,0,0,12.548,7.5H17.5A22.32,22.32,0,0,1,15.165,0Z"
                                          transform="translate(1 12.5)" fill="#1656a2" />
                                  </g>
                              </svg>

                              House Keeping
                              <svg class="sidenavadd" xmlns="http://www.w3.org/2000/svg" width="24.568"
                                  height="24.568" viewBox="0 0 24.568 24.568">
                                  <g id="Group_549" data-name="Group 549" transform="translate(-269 -321)">
                                      <g id="Rectangle_966" data-name="Rectangle 966" transform="translate(269 321)"
                                          fill="#fff" stroke="#47b2e3" stroke-width="2">
                                          <rect width="24.568" height="24.568" stroke="none" />
                                          <rect x="1" y="1" width="22.568" height="22.568" fill="none" />
                                      </g>
                                      <g id="Group_434" data-name="Group 434" transform="translate(276.371 328.371)">
                                          <rect id="Rectangle_967" data-name="Rectangle 967" width="2.457"
                                              height="9.827" transform="translate(3.685)" fill="#47b2e3" />
                                          <rect id="Rectangle_968" data-name="Rectangle 968" width="2.457"
                                              height="9.827" transform="translate(9.827 3.685) rotate(90)"
                                              fill="#47b2e3" />
                                      </g>
                                  </g>
                              </svg>
                              <i class="sidenavminus"></i>

                          </a>
                      </div>
                      <div id="collapseSeven" class="collapse" data-parent="#accordion">
                          <div class="card-body">
                              <div class="card-link-body">
                                  Extract
                              </div>
                              <div class="card-link-body">
                                  API
                              </div>
                              <div class="card-link-body">
                                  SFTP
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-md-4 middleblock">
            <div class="mainwhiteblock" *ngIf="sourceType=='table' || sourceType == 'file'">
                <div class="whiteblock">
                    Source
                </div>
                <div class="whiteicons">
                    <span class="iconsBlock">
                      <!-- <a title="Remove" (click)="delProcess(pcs,'del',pcs,i)" href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
                        <a title="Configure" (click)="editSource()" href="javascript:void(0);"  title="Configure Source"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </span>

                </div>
                <!-- <a href="javascript:void(0);" (click)="editSource()" title="Configure Source"><i class="fa fa-cogs"></i></a> -->
              </div>
            <div  cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" *ngIf="process.length">
              <div class="mainwhiteblock"  *ngFor="let pcs of process;let i = index;"  (click)="groupProcess(pcs,i,pcs.isChecked=!pcs.isChecked)" [ngClass]="{'pcs-group':pcs.isGroup,'pcs-select' : pcs.isChecked}" cdkDrag  (dblclick)="getTable(pcs)">
                  <div class="whiteblock" *ngIf="!pcs.isGroup">
                    {{pcs.pcs_nm}}
                  </div>
                  <!-- <ng-container  *ngIf="pcs.isGroup && pcs.groupedPcs.length">
                    <div *ngFor="let gpcs of pcs.groupedPcs">
                      <span>{{gpcs.pcs_nm}}</span>
                      <a title="Configure" href="javascript:void(0);" (click)="editProcess(gpcs)" ><i class="fa fa-cogs"></i></a>
                      <a title="Remove" href="javascript:void(0);" (click)="delProcess(gpcs,'moveout',pcs,i)" ><i class="fa fa-minus"></i></a>
                    </div>
                  </ng-container> -->
                  <div class="whiteicons">
                      <span class="iconsBlock">
                        <a title="Remove" (click)="delProcess(pcs,'del',pcs,i)" href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i></a>
                          <a title="Configure" (click)="editProcess(pcs)" href="javascript:void(0);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                      </span>

                  </div>
              </div>
            </div>
              <!-- <div class="mainwhiteblock">
                <div class="whiteblockactive">
                    <div class="whiteblockselected">
                        JSON Pre-Processor
                    </div>
                    <div class="whiteblockselected">
                        Load Hive DB Table A
                    </div>
                </div>
                <div class="whiteicons">
                  <span class="iconsBlock">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </span>

              </div>
              </div> -->
              <!-- <div class="mainwhiteblock">
                  <div class="whiteblock">
                      File Move
                  </div>
                  <div class="whiteicons">
                      <span class="iconsBlock">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </span>

                  </div>
              </div>


              <div class="mainwhiteblock">
                  <div class="whiteblock">
                      File Move
                  </div>
                  <div class="whiteicons">
                      <span class="iconsBlock">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </span>

                  </div>
              </div>
              <div class="mainwhiteblock">
                  <div class="whiteblock">
                      File Move
                  </div>
                  <div class="whiteicons">
                      <span class="iconsBlock">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </span>

                  </div>
              </div>
              <div class="mainwhiteblock">
                  <div class="whiteblock">
                      File Move
                  </div>
                  <div class="whiteicons">
                      <span class="iconsBlock">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </span>

                  </div>
              </div> -->

          </div>
          <div class="col-md-6 rightblock">
              <div class="right-main">
                  <div class="right-header">
                      <div class="rytHdrBtn rytHdrBtnActive">Configure</div>
                      <div class="rytHdrBtn">Job Status</div>
                      <div class="rytHdrBtn">View Log</div>
                      <div class="rytHdrBtn">Job Log</div>
                  </div>
                  <div>
                    <app-cdc [process]="pcsDetails" *ngIf="!isSourceTarget && pcsDetails.length && pcsDetails[0].pcs_nm=='CDC'" (activepcs)="getModifiedPcs($event)"></app-cdc>
                    <div class="rows" *ngIf="isSourceTarget">
                        <div class="row padding15">
                            <div class="col-md-10">
                                <label class="grid">
                                    <input type="text" placeholder="Search Object" [(ngModel)]="searchObj" (ngModelChange)="getObjects()">
                                </label>
                                <ul class="obj-results" [ngClass]="{'in':showObjList}">
                                    <li *ngFor="let obj of objList" (click)="selObjectEvnt(obj)">{{obj.tbl_nm}}</li>
                                </ul>
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-5">
                                <label for="sel1">LOB</label>
                                <select [(ngModel)]="lob" name="lob" class="form-control" (change)="onLOBChange(lob,$event.target.value)">
                                    <option *ngFor="let lob of lobs" [value]="lob.ln_of_bsn_id">{{lob.ln_of_bsn_nm}}</option>
                                  </select>
                            </div>
                            <div class="col-md-5">
                                <label class="labl" for="sel1">APP</label>
                                <select [(ngModel)]="app" name="app" class="form-control" (change)="onAppChange(app)">
                                    <option *ngFor="let app of apps" [value]="app.apn_id">{{app.apn_nm}}</option>
                                  </select>
                                
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-10">
                                <label class="grid">DB Platform
                                    <select [(ngModel)]="selPlatform" name="platform" class="form-control" id="platform"  (change)="onPlatformChange()">
                                        <option *ngFor="let p of platforms" [value]="p.db_type">{{p.db_type}}</option>
                                      </select>
                                </label>
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-4 pd">
                                <label class="grid">Connector
                                    <select [(ngModel)]="selDatasource" name="datasource" class="form-control" id="datasource"  (change)="onDatasourceChange()">
                                        <option *ngFor="let d of datasourceList" [value]="d.db_id">{{d.db_name}}</option>
                                      </select>
                                </label>

                            </div>
                            <div class="col-md-4 pd1">
                                <button type="button" class="btn btn-primary valid"><i class="fa fa-chain-broken"
                                        aria-hidden="true"></i>&nbsp;&nbsp;Test Connection</button>
                            </div>
                            <div class="create_link col-md-3">
                                <a href="url">Create Connector</a>
                            </div>
                        </div>
                        <div class="row padding15">
                            <div class="col-md-5">
                                <label class="grid">Data Base
                                    <input type="text">
                                </label>
                            </div>
                            <div class="col-md-5">
                                <label class="grid">Table
                                    <input type="text">
                                </label>
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>

                    </div>
               
                  </div>
              </div>
          </div>
      </div>
  </div>