.header{
    background-color: #169ddd;
    padding: 5px;
    padding-top: 14px;
    color: white;
}

.header p{
    
    margin-left: 30px;
    display: inline-block;
}
.header span{
    float: right;
    margin-right: 10px;
}
.form-group{
    margin: 20px;
    // padding: 20px;
}
.form-control{
    width: 90%;
}