<div class="container-fluid">

  <div class="row dim-top-nav">
    <div class="col-5">
      <div class="row">
        <div class="col-5">
          <div class="logo">
            <img class="img-responsive" src="assets/images/curate_icon.svg">
            Dim Builder
          </div>
        </div>
        <div class="col-7 nav_icons">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24.911" height="29.523"
            viewBox="0 0 24.911 29.523">
            <g id="add-file" transform="translate(-40 0)">
              <path id="Path_1400" data-name="Path 1400"
                d="M368,.289v5.42a.288.288,0,0,0,.288.288h5.42a.288.288,0,0,0,.2-.492l-5.42-5.42a.288.288,0,0,0-.492.2Z"
                transform="translate(-309.086 0)" fill="#169ddd" />
              <path id="Path_1401" data-name="Path 1401"
                d="M57.53,8.765a1.384,1.384,0,0,1-1.384-1.384V0H43.114A3.117,3.117,0,0,0,40,3.114v23.3a3.117,3.117,0,0,0,3.114,3.114H61.8a3.117,3.117,0,0,0,3.114-3.114V8.765Zm-1.384,7.381H53.839v2.307a1.384,1.384,0,1,1-2.768,0V16.146H48.765a1.384,1.384,0,1,1,0-2.768h2.307V11.072a1.384,1.384,0,1,1,2.768,0v2.307h2.307a1.384,1.384,0,0,1,0,2.768Z"
                transform="translate(0 0)" fill="#169ddd" />
            </g>
          </svg>
          <svg (click)="backToAlljobs()" class="icon" xmlns="http://www.w3.org/2000/svg" width="35.456" height="30.348"
            viewBox="0 0 35.456 30.348">
            <g id="book" transform="translate(0 -70.738)">
              <path id="Path_1402" data-name="Path 1402"
                d="M544.011,72.913a2.167,2.167,0,0,0-2.292-2.162c-7.407.411-11.4,2.8-13.46,4.779a2.166,2.166,0,0,0-.661,1.556v22.924a1.084,1.084,0,0,0,1.74.863c2.3-1.758,6.2-3.555,12.619-3.873a2.164,2.164,0,0,0,2.054-2.162V72.913Z"
                transform="translate(-508.556 -0.009)" fill="#94cfeb" />
              <path id="Path_1403" data-name="Path 1403"
                d="M2.05,96.989c6.421.318,10.316,2.112,12.619,3.873a1.083,1.083,0,0,0,1.74-.863V77.076a2.153,2.153,0,0,0-.661-1.556c-2.061-1.978-6.053-4.367-13.456-4.779A2.163,2.163,0,0,0,0,72.9V94.831A2.161,2.161,0,0,0,2.05,96.989Z"
                transform="translate(0 0)" fill="#94cfeb" />
            </g>
          </svg>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="28.888" height="31.813"
            viewBox="0 0 28.888 31.813">
            <g id="seo-and-web" transform="translate(-10 -4)">
              <path id="Path_1408" data-name="Path 1408" d="M48.478,41.555,43.66,49.9H47.9a.578.578,0,0,0,.578-.578Z"
                transform="translate(-14.213 -15.858)" fill="#94cfeb" />
              <path id="Path_1409" data-name="Path 1409"
                d="M10.578,34.043H24.039l.138-2.3a.578.578,0,0,1,.076-.254L34.316,14.053a.571.571,0,0,1-.051-.231V4.578A.578.578,0,0,0,33.688,4H19.244v7.511a1.733,1.733,0,0,1-1.733,1.733H10V33.465a.578.578,0,0,0,.578.578Z"
                fill="#94cfeb" />
              <path id="Path_1410" data-name="Path 1410" d="M48.982,29.457,41.616,42.216l.567,1.328,7.8-13.509Z"
                transform="translate(-13.35 -10.749)" fill="#94cfeb" />
              <path id="Path_1411" data-name="Path 1411"
                d="M18.685,12.108V5.414l-7.271,7.271h6.694A.578.578,0,0,0,18.685,12.108Z"
                transform="translate(-0.597 -0.597)" fill="#94cfeb" />
              <path id="Path_1412" data-name="Path 1412"
                d="M54.189,20.766l-.289.5L56.9,23l.289-.5a1.734,1.734,0,1,0-3-1.733Z"
                transform="translate(-18.537 -6.713)" fill="#94cfeb" />
              <path id="Path_1413" data-name="Path 1413"
                d="M36.916,56.46a2.884,2.884,0,0,0-.7-.286l-.1,1.669,1.391-.918a2.9,2.9,0,0,0-.593-.465Z"
                transform="translate(-11.028 -22.031)" fill="#94cfeb" />
              <path id="Path_1414" data-name="Path 1414" d="M0,0H1.155V3.466H0Z"
                transform="matrix(0.5, -0.866, 0.866, 0.5, 34.207, 16.551)" fill="#94cfeb" />
              <path id="Path_1415" data-name="Path 1415" d="M45.2,27.457,37.4,40.966l1.434-.173L46.2,28.035Z"
                transform="translate(-11.571 -9.905)" fill="#94cfeb" />
              <path id="Path_1416" data-name="Path 1416"
                d="M39.188,54.374l-.775-1.815-1.959.236-.042.685a3.983,3.983,0,0,1,2.2,1.271Z"
                transform="translate(-11.153 -20.504)" fill="#94cfeb" />
            </g>
          </svg>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="23.215" height="30.205"
            viewBox="0 0 23.215 30.205">
            <g id="lock-2" transform="translate(-56.313 0.001)">
              <path id="Path_1406" data-name="Path 1406"
                d="M77.881,12.2h-.589V9.443A9.39,9.39,0,0,0,68.2,0c-.138,0-.414,0-.552,0a9.39,9.39,0,0,0-9.1,9.441V12.2H57.96a1.911,1.911,0,0,0-1.647,2.092V28.105a1.92,1.92,0,0,0,1.647,2.1H77.881a1.92,1.92,0,0,0,1.647-2.1V14.29A1.911,1.911,0,0,0,77.881,12.2Zm-8.094,8.986v4.175a.891.891,0,0,1-.879.883H66.933a.891.891,0,0,1-.879-.883V21.183a2.528,2.528,0,0,1,1.59-4.3c.138-.006.414-.006.552,0a2.528,2.528,0,0,1,1.59,4.3ZM73.414,12.2H62.428V9.443a5.493,5.493,0,1,1,10.986,0V12.2Z"
                transform="translate(0 0)" fill="#94cfeb" />
            </g>
          </svg>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="23.128" height="27.658"
            viewBox="0 0 23.128 27.658">
            <path id="setup"
              d="M40.924,15.57v2.247a9.853,9.853,0,0,1-9.842,9.842H19.044V22.567H31.082a4.755,4.755,0,0,0,4.75-4.75V15.57a4.755,4.755,0,0,0-4.75-4.75H28.711v5.728L17.8,8.274,28.711,0V5.728h2.371A9.853,9.853,0,0,1,40.924,15.57Z"
              transform="translate(-17.796 -0.001)" fill="#94cfeb" />
          </svg>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="23.128" height="27.658"
            viewBox="0 0 23.128 27.658">
            <path id="setup"
              d="M17.8,15.57v2.247a9.853,9.853,0,0,0,9.842,9.842H39.676V22.567H27.638a4.755,4.755,0,0,1-4.75-4.75V15.57a4.755,4.755,0,0,1,4.75-4.75h2.371v5.728L40.924,8.274,30.009,0V5.728H27.637A9.853,9.853,0,0,0,17.8,15.57Z"
              transform="translate(-17.796 -0.001)" fill="#94cfeb" />
          </svg>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="row">
        <div class="col-md-12 sub" [hidden]="job.name === ''">
          <label>Job:</label><span style="padding: 5px;font-size: medium;">{{job.name}}</span>
          <a (click)="editJob()" style="cursor:pointer" title="Edit Job">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4 nav-btns">
      <button type="button" class="subnav-icons" (click)="saveJobSteps()">
        <svg class="svgsaveTemplate btn-img subnavicons" xmlns="http://www.w3.org/2000/svg" width="27" height="21"
          viewBox="0 0 27 21">
          <g id="upload-folder" transform="translate(0 -5)">
            <path id="Path_359" data-name="Path 359"
              d="M26.67,10.062A1.5,1.5,0,0,0,25.5,9.5H24A1.5,1.5,0,0,0,22.5,8H21V6.5A1.5,1.5,0,0,0,19.5,5H1.5A1.5,1.5,0,0,0,0,6.5v18A1.5,1.5,0,0,0,1.5,26H11.615V20.649H9.74a.75.75,0,0,1-.53-1.28l5.25-5.249a.751.751,0,0,1,1.061,0l5.25,5.25a.749.749,0,0,1-.53,1.279H18.367V26H22.5a1.5,1.5,0,0,0,1.463-1.175l3-13.5A1.5,1.5,0,0,0,26.67,10.062ZM19.5,8H18a1.5,1.5,0,0,0-1.5,1.5h-9a1.5,1.5,0,0,0-1.464,1.175l-3,13.5A1.5,1.5,0,0,0,3,24.5H1.5V6.5h18Z"
              fill="#169ddd" />
          </g>
        </svg>
        Save Job
      </button>
      <button type="button" class="subnav-icons subnavActivebtn" (click)="scheduleJob()">
        <svg class="svgsaveTemplate btn-img " id="grid" xmlns="http://www.w3.org/2000/svg" width="21.088"
          height="21.088" viewBox="0 0 21.088 21.088">
          <path id="Path_360" data-name="Path 360" d="M144,184h7.532v6.778H144Zm0,0"
            transform="translate(-137.222 -175.339)" fill="#fff" />
          <path id="Path_361" data-name="Path 361"
            d="M0,82.076H21.088V64H0ZM1.883,69.649a.377.377,0,1,1,0-.753H6.025V65.883a.377.377,0,1,1,.753,0V68.9H14.31V65.883a.377.377,0,1,1,.753,0V68.9h4.142a.377.377,0,1,1,0,.753H15.063v6.778h4.142a.377.377,0,0,1,0,.753H15.063v3.013a.377.377,0,1,1-.753,0V77.18H6.778v3.013a.377.377,0,1,1-.753,0V77.18H1.883a.377.377,0,0,1,0-.753H6.025V69.649Zm0,0"
            transform="translate(0 -60.987)" fill="#fff" />
          <path id="Path_362" data-name="Path 362"
            d="M21.088,0H0V2.259H21.088ZM1.506,1.506H.753V.753h.753Zm1.506,0H2.259V.753h.753Zm1.506,0H3.766V.753h.753Zm0,0"
            fill="#fff" />
        </svg>
        Schedule
      </button>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46" style="height: 30px;">
        <g id="Group_560" data-name="Group 560" transform="translate(-1766 -127)">
          <g id="Rectangle_986" data-name="Rectangle 986" transform="translate(1766 127)" fill="none" stroke="#00d138"
            stroke-width="2">
            <rect width="46" height="46" rx="23" stroke="none" />
            <rect x="1" y="1" width="44" height="44" rx="22" fill="none" />
          </g>
          <g id="Group_444" data-name="Group 444" transform="translate(70)">
            <circle id="Ellipse_70" data-name="Ellipse 70" cx="18" cy="18" r="18" transform="translate(1701 132)"
              fill="#19d44b" />
            <g id="play-button-arrowhead" transform="translate(1702.893 141)">
              <path id="Path_427" data-name="Path 427"
                d="M11.1.4C9.446-.543,8.107.233,8.107,2.136V16.179c0,1.9,1.339,2.68,2.99,1.734l12.274-7.039c1.652-.948,1.652-2.483,0-3.43Z"
                transform="translate(0 0)" fill="#f8f9fa" />
            </g>
          </g>
        </g>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="45" height="46" viewBox="0 0 45 46" style="height: 30px;">
        <g id="Group_561" data-name="Group 561" transform="translate(-1826 -127)">
          <g id="Rectangle_987" data-name="Rectangle 987" transform="translate(1826 127)" fill="none" stroke="#ff1717"
            stroke-width="2">
            <rect width="45" height="46" rx="22.5" stroke="none" />
            <rect x="1" y="1" width="43" height="44" rx="21.5" fill="none" />
          </g>
          <g id="Group_445" data-name="Group 445" transform="translate(3)">
            <circle id="Ellipse_72" data-name="Ellipse 72" cx="18" cy="18" r="18" transform="translate(1828 132)"
              fill="#ff1717" />
            <rect id="Rectangle_864" data-name="Rectangle 864" width="16" height="16" rx="2"
              transform="translate(1838 142)" fill="#fff" />
          </g>
        </g>
      </svg>

      <!--<button type="button" class="save-btn" (click)="convert()">
        Save
      </button>-->
    </div>
  </div>

  <div class="row dim-main">
    <div class="col-md-2 dim-side-nav" [hidden]="show_src">
      <!--<div id="accordion">
        <select class="form-control" id="sel2" name="sellist1">
          <option>Service library</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>-->
      <div id="accordion">
        <div class="card">
          <div class="card-header" data-toggle="collapse">
            <a class="card-link">
              <img class="img-responsive side-icon" src="assets/images/dim_icons/rect/src.svg">
              Source
              <i (click)="newNode.type = 'S';configNewNode()" class="fa fa-plus cursor fa-icon" style="font-size: 18px;"
                title="Add Source" data-toggle="tooltip" data-placement="top"></i>
            </a>
          </div>
          <div id="collapseOne" class="show" data-parent="#accordion"
            *ngIf="nonSelectedNodes.length > 0 && showSelections == true">
            <div class="card-body ">
              <div *ngFor="let n of nonSelectedNodes;">
                <div class="card-link-body" *ngIf="n.img == 'src'">
                  <input type="checkbox" [checked]="n.checked" (change)="checkValue($event,n)" />
                  <span>{{n.name}}</span>
                </div>
              </div>
              <!--<div class="card-link-body">
                Read File
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" data-toggle="collapse">
            <a class="card-link">
              <img class="img-responsive side-icon" src="assets/images/dim_icons/rect/mapper.svg">
              Mapper
              <i (click)="newNode.type = 'M';configNewNode()" class="fa fa-plus cursor fa-icon" style="font-size: 18px;"
                title="Add Mapper"></i>
            </a>
          </div>
          <div id="mapper" class="collapse show" data-parent="#accordion"
            *ngIf="nonSelectedNodes.length > 0 && showSelections == true">
            <div class="card-body">
              <div *ngFor="let n of nonSelectedNodes;">
                <div *ngIf="n.img == 'mapper'" class="card-link-body">
                  <input type="checkbox" [checked]="n.checked" (change)="checkValue($event,n)" />
                  <span>{{n.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" data-toggle="collapse">
            <a class="card-link">
              <img class="img-responsive side-icon" src="assets/images/dim_icons/rect/aggr.svg">
              Aggregator
              <i (click)="newNode.type = 'A';configNewNode()" class="fa fa-plus cursor fa-icon" style="font-size: 18px;"
                title="Add Aggregator"></i>

            </a>
          </div>
          <div id="aggr" class="collapse show" data-parent="#accordion"
            *ngIf="nonSelectedNodes.length > 0 && showSelections == true">
            <div class="card-body">

              <div *ngFor="let n of nonSelectedNodes;">
                <div *ngIf="n.img == 'aggr'" class="card-link-body">
                  <input type="checkbox" [checked]="n.checked" (change)="checkValue($event,n)" />
                  <span>{{n.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" data-toggle="collapse">
            <a class="card-link">
              <img class="img-responsive side-icon" src="assets/images/dim_icons/rect/joiner.svg">
              Joiner
              <i (click)="newNode.type = 'J';configNewNode()" class="fa fa-plus cursor fa-icon" style="font-size: 18px;"
                title="Add Joiner"></i>

            </a>
          </div>
          <div id="joiner" class="collapse show" data-parent="#accordion"
            *ngIf="nonSelectedNodes.length > 0 && showSelections == true">
            <div class="card-body">
              <div *ngFor="let n of nonSelectedNodes;">
                <div *ngIf="n.img == 'joiner'" class="card-link-body">
                  <input type="checkbox" [checked]="n.checked" (change)="checkValue($event,n)" />
                  <span>{{n.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" data-toggle="collapse">
            <a class="card-link">
              <img class="img-responsive side-icon" style="height: 20px !important;"
                src="assets/images/dim_icons/rect/tgt.svg">
              Target
              <i (click)="newNode.type = 'T';configNewNode()" class="fa fa-plus cursor fa-icon" style="font-size: 18px;"
                title="Add Target"></i>

            </a>
          </div>
          <div id="tgt" class="collapse show" data-parent="#accordion"
            *ngIf="nonSelectedNodes.length > 0 && showSelections == true">
            <div class="card-body">
              <div *ngFor="let n of nonSelectedNodes;">
                <div *ngIf="n.img == 'tgt'" class="card-link-body">
                  <!--<input type="checkbox"
                     [checked]="n.checked"
                     (change)="checkValue($event,n)" />-->
                  <span>{{n.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 dim-graph">
      <div class="pane">

        <div class="graph">
          <div class="dim" id="dimContainer">
            <!--<button style="float:right" id="zoom-in">Zoom +</button>
            <button style="float:right" id="zoom-out">Zoom -</button>
            <button style="float:right" id="zoom-reset">Reset Zoom </button>-->
            <svg width="100%" heigth="100%">
              <g /></svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Modal  -->
  <div class="row">
    <div class="modal fade" id="modalDim" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-full" style="width:1250px;">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#0072c6;color: white;">
            <h4 class="modal-title">
              {{
            selectedNode.type == 'Source' ?
            'Source' : selectedNode.type == 'Mapper' ?
            'Mapper' : selectedNode.type == 'Aggr' ?
            'Aggregator' :  selectedNode.type == 'Tgt' ?
            'Target' : selectedNode.type == 'Sch' ?
            'Schedule' : 'Joiner'
                }}
            </h4>
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          </div>
          <div class="modal-body mb-1">
            <app-source *ngIf="selectedNode.type == 'Source' && enableModal" [src]="_source"
              (sourceStatus)="sourceUpdate($event)"></app-source>
            <app-mapper *ngIf="selectedNode.type == 'Mapper' && enableModal" [src]="_mapper_src" [mapper]="_mapper"
              (sourceStatus)="mapperUpdate($event)"></app-mapper>
            <app-aggregator *ngIf="selectedNode.type == 'Aggr' && enableModal" [src]="_aggr_src" [aggregator]="_aggr"
              (sourceStatus)="aggrUpdate($event)"></app-aggregator>
            <app-joiner *ngIf="selectedNode.type == 'Joiner'  && enableModal" [src]="_joiner_src" [joiner]="_joiner"
              (sourceStatus)="joinerUpdate($event)"></app-joiner>
            <app-target *ngIf="selectedNode.type == 'Tgt'  && enableModal" [src]="_target_src" [target]="_target"
              (sourceStatus)="targetUpdate($event)"></app-target>
            <app-scheduler *ngIf="selectedNode.type == 'Sch'  && enableModal" [data]="_schedulerData"
              (sourceStatus)="schedulerUpdate()"></app-scheduler>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Capture JOB Details  -->
  <div class="row">
    <div class="modal fade" id="modalJob" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-half">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#0072c6;color: white;">
            <h4 class="modal-title">
              Job Details
            </h4>
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          </div>
          <div class="modal-body mb-1">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Job Name</label>
                  <input class="form-control" required name="job_name" [(ngModel)]="job.name" placeholder="Job Name"
                    type="text">
                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Job Description</label>
                  <textarea class="form-control" name="job_name" [(ngModel)]="job.description"
                    placeholder="Job Descpription" type="text"></textarea>
                </div>
              </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                  <select class="form-control" [(ngModel)]="selected_lob_value" (change)="getApplications();">
                    <option *ngFor="let l of lobs" value="{{l.ln_of_bsn_id}}">{{l.ln_of_bsn_nm}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select *ngIf="selected_lob_value != ''" class="form-control" [(ngModel)]="selected_app_value">
                    <option *ngFor="let a of apps" value="{{a.apn_id}}">{{a.apn_nm}}</option>
                  </select>
                </div>
              </div> -->
            <div class="row">
              <div class="col-md-6">
                <label>Select LOB</label>
              </div>
              <div class="col-md-6">
                <label *ngIf="selected_lob_value != ''">Select Application</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <select [disabled]="selected_lob_value != ''" class="form-control" [(ngModel)]="selected_lob_value"
                  (change)="getApplications();">
                  <option *ngFor="let l of lobs" value="{{l.ln_of_bsn_id}}">{{l.ln_of_bsn_nm}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <select [disabled]="selected_app_value != ''" *ngIf="selected_lob_value != ''" class="form-control"
                  [(ngModel)]="selected_app_value">
                  <option *ngFor="let a of apps" value="{{a.apn_id}}">{{a.apn_nm}}</option>
                </select>
              </div>
            </div>
            <div class="padding15" *ngIf="selected_app_value != ''">
              <div class="row">
                <div class="col-md-6">
                  <label>Connector</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <select [disabled]="selected_connection != ''" class="form-control" [(ngModel)]="selected_connection">
                    <option *ngFor="let c of connections" value="{{c.conn_id}}">{{c.conn_nm}}</option>
                  </select>
                </div>
                <!-- <div class="col-md-4">
                    <button class="src-test">Test Connection</button>
                  </div>
                  <div class="col-md-4">
                    <a href="#" class="src-create"><u>Create Connector</u></a>
                  </div> -->
              </div>
            </div>
            <div class="modal-footer" class="padding15">
              <div class="row ">
                <div class="col-sm-6">
                  <button *ngIf="job.id == ''" type="button" class="save-btn pull-right"
                    (click)="saveJob()">Create</button>
                  <button *ngIf="job.id != ''" type="button" class="save-btn pull-right"
                    (click)="saveJob()">Update</button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="cancel-btn" (click)="cancelJOb()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid" *ngIf="showJobs">

  <div class="row dim-top-nav">
    <div class="col-5">
      <div class="row">
        <div class="col-5">
          <div class="logo">
            <img class="img-responsive" src="assets/images/curate_icon.svg">
            Dim Builder
          </div>
        </div>
        <div class="col-7 nav_icons">

        </div>
      </div>
    </div>

    <div class="col-3">

    </div>
    <div class="col-4 nav-btns">


    </div>
  </div>

 
 <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button (click)="addNewJob()">ADD JOB</button>
      </div>
    </div>
 <div class="row">
      <div class="col-md-12">
        <app-dim-job></app-dim-job>
      </div>
    </div>

</div>-->