<div class="container-fluid">
  <div class="row row1">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="nav-sub-icons">
        <svg class="vl" id="dashboard" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
          viewBox="0 0 27.68 27.68">
          <path id="Path_261" data-name="Path 261"
            d="M10.668,0H2.018A2.02,2.02,0,0,0,0,2.018v5.19A2.021,2.021,0,0,0,2.018,9.227h8.65a2.021,2.021,0,0,0,2.018-2.018V2.018A2.021,2.021,0,0,0,10.668,0Zm0,0"
            fill="#052e5d" />
          <path id="Path_262" data-name="Path 262"
            d="M10.668,213.332H2.018A2.02,2.02,0,0,0,0,215.35v12.11a2.02,2.02,0,0,0,2.018,2.018h8.65a2.02,2.02,0,0,0,2.018-2.018V215.35A2.021,2.021,0,0,0,10.668,213.332Zm0,0"
            transform="translate(0 -201.799)" fill="#052e5d" />
          <path id="Path_263" data-name="Path 263"
            d="M288,341.332h-8.65a2.021,2.021,0,0,0-2.018,2.018v5.19a2.021,2.021,0,0,0,2.018,2.018H288a2.02,2.02,0,0,0,2.018-2.018v-5.19A2.021,2.021,0,0,0,288,341.332Zm0,0"
            transform="translate(-262.339 -322.879)" fill="#052e5d" />
          <path id="Path_264" data-name="Path 264"
            d="M288,0h-8.65a2.021,2.021,0,0,0-2.018,2.018v12.11a2.021,2.021,0,0,0,2.018,2.018H288a2.021,2.021,0,0,0,2.018-2.018V2.018A2.02,2.02,0,0,0,288,0Zm0,0"
            transform="translate(-262.339)" fill="#052e5d" />
        </svg>
        <div>
          <button class="button active" [routerLink]="['/admin/screenoperations']">Screen Operations</button>
          <button class="button1 " routerLinkActive="active" [routerLink]="['/admin/screenoperations/addscreen']">Add
            Screens</button>
          <button class="button1" routerLinkActive="active" [routerLink]="['/admin/screenoperations/addoperation']">Add
            Screen Operations</button>

        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="scrn-top">
        <!-- <form [formGroup]="form"> -->
        <div class="card" style="width:100%; background-color:#E8E8E8;">
          <div class="card-body">
            <p style="color: #062f5e; font-weight:bold;">Configuring Screen operation based on role</p>
            <div class="form-group row">
              <label for="example-email-input" class="col-md-2 col-form-label" align="right">
                <strong>Roles </strong>
              </label>
              <div class="col-md-6">
                <select class="form-control form-radius"  [(ngModel)]="selrolesdata" (change)=selectrole(selrolesdata)>
                  <span></span>
                  <option *ngFor="let roles of rolesdata;" value="{{roles.usr_role_grp_id}}" >
                    {{roles.usr_role_nm}}

                  </option> 
                </select>
              </div>
            </div>
          </div>
        </div>

        <table *ngIf="roleid!=''"class="table table-bordered table-striped" style="width:100%" >
          <thead>
            <tr>
              <th scope="col">Screen Name</th>
              <th scope="col">Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of screen_operationstarget;let i = index;"  style="overflow: auto;">
              <td>{{ t.key }}</td>
              <!-- <td>
                  <label style="margin-right:10px;">
                    <input type="checkbox" [ngModel]="t.key_checked" (ngModelChange)="onSrcKeyChange($event,s)"
                      (click)="selected_src_mapper(s);" [value]="t.scrn_opr_id">
                    {{ t.scrn_opr_nm }} </label></td> -->
              <td >
                  <label *ngFor="let o of t.value" style="margin-right:10px;">
                    <input type="checkbox" [ngModel]="o.checked" id="o.scrn_opr_nm" value="o.scrn_opr_nm" (click)="checkBoxScrClk(o)">
                    {{ o.scrn_opr_nm }} </label>
                    <!-- <label style="margin-right:10px;">
                    
                    </label> -->
              </td>
          
            </tr>
          </tbody>
        </table>

        <div class="row subcan">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-2">
            <button class="save-button" (click)="createrole()">Save</button>
          </div>
          <div class="col-sm-2">
            <button class="cancel-button" (click)="refresh()">Cancel</button>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>