<div class="homepage">
    <nav _ngcontent-ccg-c3="" class="sidebar sidebar-offcanvas fixed-top" id="collapsesidebar">
        <div _ngcontent-ccg-c3="" class="text-center navbar-brand-wrapper d-flex align-items-top"
            style="padding-top: 30px;padding-left: 50px;">
            <a _ngcontent-ccg-c3="" class="navbar-brand brand-logo" href="index.html"
                style="position: relative;margin-right: 0;">
                <img _ngcontent-ccg-c3="" alt="logo" src="../../../assets/images/ic4_logo.png" style="width: 96px;">
                <label>A Gathi Product</label>
            </a>
        </div>
        <div class="imghome">
            <!-- <svg style="height: 22vw;margin-left: 15px;  font-weight: 550;" xmlns="http://www.w3.org/2000/svg"
                width="637.492" height="516.57" viewBox="0 0 637.492 516.57">
                <g id="Group_409" data-name="Group 409" transform="translate(-187.045 -243)">
                    <g id="Group_408" data-name="Group 408" transform="translate(56.958 200.915)">
                        <g id="Group_389" data-name="Group 389" transform="translate(179.878 230.648)">
                            <g id="Group_387" data-name="Group 387" transform="translate(20.673)">
                                <path id="Path_386" data-name="Path 386"
                                    d="M601.3,448.564a11.951,11.951,0,0,1-12.05,11.854H153.407a11.954,11.954,0,0,1-12.053-11.854V151.241a11.953,11.953,0,0,1,12.053-11.85H589.249a11.95,11.95,0,0,1,12.05,11.85Z"
                                    transform="translate(-141.354 -139.391)" fill="#00a5d8" />
                                <rect id="Rectangle_748" data-name="Rectangle 748" width="427.373" height="262.701"
                                    transform="translate(15.793 14.943)" fill="#02245d" />
                            </g>
                            <g id="Group_388" data-name="Group 388" transform="translate(36.466 14.943)" opacity="0.3">
                                <path id="Path_387" data-name="Path 387" d="M515.866,147.1H465.31L183.268,409.8h55.985Z"
                                    transform="translate(-117.839 -147.102)" fill="#98d9f8" />
                                <path id="Path_388" data-name="Path 388"
                                    d="M476.061,147.1H407.239S149.76,377.633,149.5,377.635V409.8h39.35Z"
                                    transform="translate(-149.504 -147.102)" fill="#98d9f8" />
                            </g>
                            <path id="Path_389" data-name="Path 389"
                                d="M631.974,314.231c0,3.779-2.6,6.844-5.817,6.844H136.505c-3.211,0-5.819-3.066-5.819-6.844V298.266c0-3.777,2.608-6.843,5.819-6.843H626.157c3.213,0,5.817,3.066,5.817,6.843Z"
                                transform="translate(-130.686 3.191)" fill="#98d9f8" />
                        </g>
                        <g id="Group_391" data-name="Group 391" transform="translate(323.921 191.905)">
                            <path id="Path_390" data-name="Path 390"
                                d="M290.02,216.65c0,2.013-71.94-65.445-71.94-65.445A97,97,0,0,1,290.02,119.4Z"
                                transform="translate(-192.768 -119.398)" fill="#98d9f8" />
                            <path id="Path_391" data-name="Path 391"
                                d="M352.458,216.65H255.2V119.4A97.253,97.253,0,0,1,352.458,216.65Z"
                                transform="translate(-157.952 -119.398)" fill="#f16a4a" />
                            <path id="Path_392" data-name="Path 392"
                                d="M205.018,169.633H302.27v97.252A97.251,97.251,0,0,1,205.018,169.633Z"
                                transform="translate(-205.018 -72.286)" fill="#00a5d8" />
                            <path id="Path_393" data-name="Path 393"
                                d="M302.27,201.257H205.018a96.916,96.916,0,0,1,25.312-65.445Z"
                                transform="translate(-205.018 -104.004)" fill="#00338a" />
                            <g id="Group_390" data-name="Group 390" transform="translate(97.252 97.326)">
                                <path id="Path_394" data-name="Path 394"
                                    d="M255.2,169.666c0-2.013,71.94,65.443,71.94,65.443a97,97,0,0,1-71.94,31.81Z"
                                    transform="translate(-255.204 -169.622)" fill="#ffc52d" />
                                <path id="Path_395" data-name="Path 395"
                                    d="M255.2,169.645h97.254a96.9,96.9,0,0,1-25.314,65.443Z"
                                    transform="translate(-255.204 -169.601)" fill="#0075c2" />
                            </g>
                        </g>
                        <g id="Group_394" data-name="Group 394" transform="translate(542.902 348.623)">
                            <g id="Group_392" data-name="Group 392" transform="translate(0 33.449)">
                                <rect id="Rectangle_749" data-name="Rectangle 749" width="27.133" height="172.843"
                                    transform="translate(182.265)" fill="#00338a" />
                                <rect id="Rectangle_750" data-name="Rectangle 750" width="27.132" height="101.114"
                                    transform="translate(45.568 71.729)" fill="#ffc52d" />
                                <rect id="Rectangle_751" data-name="Rectangle 751" width="27.131" height="149.483"
                                    transform="translate(136.699 23.36)" fill="#00a5d8" />
                                <rect id="Rectangle_752" data-name="Rectangle 752" width="27.134" height="128.183"
                                    transform="translate(91.131 44.66)" fill="#f16a4a" />
                                <rect id="Rectangle_753" data-name="Rectangle 753" width="27.134" height="81.775"
                                    transform="translate(0 91.068)" fill="#fff" />
                            </g>
                            <g id="Group_393" data-name="Group 393" transform="translate(5.053)">
                                <line id="Line_155" data-name="Line 155" y1="89.821" x2="162.803"
                                    transform="translate(0 8.667)" fill="none" stroke="#00338a" stroke-miterlimit="10"
                                    stroke-width="4" />
                                <path id="Path_396" data-name="Path 396" d="M412.625,232.512l11.14-29.07L392.8,200.27Z"
                                    transform="translate(-252.942 -200.27)" fill="#00338a" />
                            </g>
                        </g>
                        <path id="Path_397" data-name="Path 397"
                            d="M275.781,125.69a32.564,32.564,0,0,0,.486-5.61c0-15.91-11.424-28.938-25.915-30.1-2.893-9.189-10.96-15.805-20.467-15.805a20.2,20.2,0,0,0-6.564,1.1c-3.9-11.613-14.226-19.907-26.351-19.907-10.786,0-20.14,6.565-24.826,16.189a20.264,20.264,0,0,0-9.532-2.385A21.285,21.285,0,0,0,144.324,80.05,26.117,26.117,0,0,0,130.379,76c-14.08,0-25.705,11.311-27.492,25.961-11.422,1.006-20.421,11.21-20.6,23.731Z"
                            transform="translate(47.8 57.455)" fill="#fff" />
                        <path id="Path_398" data-name="Path 398"
                            d="M527.354,112.409a32.394,32.394,0,0,0,.486-5.61c0-15.91-11.424-28.938-25.913-30.1-2.9-9.189-10.962-15.805-20.471-15.805a20.2,20.2,0,0,0-6.56,1.1c-3.9-11.612-14.228-19.907-26.353-19.907-10.784,0-20.14,6.567-24.826,16.191a20.236,20.236,0,0,0-9.532-2.387A21.291,21.291,0,0,0,395.9,66.769a26.11,26.11,0,0,0-13.943-4.052c-14.082,0-25.705,11.311-27.494,25.961-11.42,1.006-20.421,11.21-20.6,23.731Z"
                            transform="translate(239.737)" fill="#98d9f8" />
                        <g id="Group_399" data-name="Group 399" transform="translate(506.351 188.483)">
                            <g id="Group_395" data-name="Group 395">
                                <path id="Rectangle_754" data-name="Rectangle 754"
                                    d="M1.03,0H163.207a1.028,1.028,0,0,1,1.028,1.028v118.96a1.029,1.029,0,0,1-1.029,1.029H1.029A1.029,1.029,0,0,1,0,119.988V1.03A1.03,1.03,0,0,1,1.03,0Z"
                                    transform="translate(0 0.001)" fill="#98d9f8" />
                                <path id="Path_399" data-name="Path 399"
                                    d="M463.395,137.58V119.628a1.994,1.994,0,0,0-1.994-2H301.153a1.994,1.994,0,0,0-1.994,2V137.58Z"
                                    transform="translate(-299.159 -117.632)" fill="#00338a" />
                                <rect id="Rectangle_755" data-name="Rectangle 755" width="86.107" height="5.32"
                                    rx="1.029" transform="translate(9.64 7.314)" fill="#00a5d8" />
                                <path id="Path_400" data-name="Path 400"
                                    d="M372.438,124.549a3.657,3.657,0,1,1-3.657-3.657A3.656,3.656,0,0,1,372.438,124.549Z"
                                    transform="translate(-237.293 -114.575)" fill="#00a5d8" />
                                <path id="Path_401" data-name="Path 401"
                                    d="M377.112,124.549a3.656,3.656,0,1,1-3.655-3.657A3.657,3.657,0,0,1,377.112,124.549Z"
                                    transform="translate(-232.908 -114.575)" fill="#00a5d8" />
                                <path id="Path_402" data-name="Path 402"
                                    d="M381.787,124.549a3.656,3.656,0,1,1-3.655-3.657A3.657,3.657,0,0,1,381.787,124.549Z"
                                    transform="translate(-228.524 -114.575)" fill="#00a5d8" />
                            </g>
                            <g id="Group_398" data-name="Group 398" transform="translate(16.731 25.298)">
                                <g id="Group_396" data-name="Group 396">
                                    <rect id="Rectangle_756" data-name="Rectangle 756" width="7.312" height="52.202"
                                        fill="#00338a" />
                                    <rect id="Rectangle_757" data-name="Rectangle 757" width="7.312" height="52.202"
                                        transform="translate(36.844)" fill="#ffc52d" />
                                    <rect id="Rectangle_758" data-name="Rectangle 758" width="7.313" height="40.29"
                                        transform="translate(12.28 11.912)" fill="#00a5d8" />
                                    <rect id="Rectangle_759" data-name="Rectangle 759" width="7.313" height="34.549"
                                        transform="translate(24.563 17.653)" fill="#f16a4a" />
                                    <rect id="Rectangle_760" data-name="Rectangle 760" width="7.314" height="34.549"
                                        transform="translate(49.124 17.653)" fill="#1a1f49" />
                                    <rect id="Rectangle_761" data-name="Rectangle 761" width="7.313" height="29"
                                        transform="translate(61.405 23.201)" fill="#0075c2" />
                                </g>
                                <g id="Group_397" data-name="Group 397" transform="translate(80.265 8.799)">
                                    <rect id="Rectangle_762" data-name="Rectangle 762" width="50.511" height="3.158"
                                        fill="#1a1f49" />
                                    <rect id="Rectangle_763" data-name="Rectangle 763" width="50.511" height="3.158"
                                        transform="translate(0 7.906)" fill="#1a1f49" />
                                    <rect id="Rectangle_764" data-name="Rectangle 764" width="50.511" height="3.158"
                                        transform="translate(0 15.811)" fill="#1a1f49" />
                                    <rect id="Rectangle_765" data-name="Rectangle 765" width="50.511" height="3.158"
                                        transform="translate(0 23.717)" fill="#1a1f49" />
                                    <rect id="Rectangle_766" data-name="Rectangle 766" width="50.511" height="3.158"
                                        transform="translate(0 31.622)" fill="#1a1f49" />
                                    <rect id="Rectangle_767" data-name="Rectangle 767" width="50.511" height="3.158"
                                        transform="translate(0 39.528)" fill="#1a1f49" />
                                </g>
                                <rect id="Rectangle_768" data-name="Rectangle 768" width="130.776" height="27.179"
                                    transform="translate(0 60.247)" fill="#00338a" />
                            </g>
                        </g>
                        <g id="Group_405" data-name="Group 405" transform="translate(249.065 344.923)">
                            <g id="Group_400" data-name="Group 400">
                                <path id="Rectangle_769" data-name="Rectangle 769"
                                    d="M1.03,0H163.208a1.03,1.03,0,0,1,1.03,1.03V119.988a1.03,1.03,0,0,1-1.03,1.03H1.029A1.029,1.029,0,0,1,0,119.988V1.03A1.03,1.03,0,0,1,1.03,0Z"
                                    transform="translate(0 0.001)" fill="#98d9f8" />
                                <path id="Path_403" data-name="Path 403"
                                    d="M330.628,218.309V200.357a1.993,1.993,0,0,0-2-2H168.386a1.994,1.994,0,0,0-2,2v17.952Z"
                                    transform="translate(-166.389 -198.361)" fill="#1a1f49" />
                                <rect id="Rectangle_770" data-name="Rectangle 770" width="86.108" height="5.322"
                                    rx="1.03" transform="translate(9.641 7.313)" fill="#00a5d8" />
                                <path id="Path_404" data-name="Path 404"
                                    d="M239.671,205.278a3.658,3.658,0,1,1-3.659-3.657A3.659,3.659,0,0,1,239.671,205.278Z"
                                    transform="translate(-104.524 -195.304)" fill="#00a5d8" />
                                <path id="Path_405" data-name="Path 405"
                                    d="M244.345,205.278a3.657,3.657,0,1,1-3.659-3.657A3.658,3.658,0,0,1,244.345,205.278Z"
                                    transform="translate(-100.138 -195.304)" fill="#00a5d8" />
                                <path id="Path_406" data-name="Path 406"
                                    d="M249.021,205.278a3.658,3.658,0,1,1-3.657-3.657A3.657,3.657,0,0,1,249.021,205.278Z"
                                    transform="translate(-95.755 -195.304)" fill="#00a5d8" />
                            </g>
                            <g id="Group_404" data-name="Group 404" transform="translate(24.933 27.693)">
                                <g id="Group_401" data-name="Group 401" transform="translate(72.168 16.62)">
                                    <path id="Path_407" data-name="Path 407"
                                        d="M219.336,274a2.835,2.835,0,0,1-1.618-5.164l31.441-21.814-31.381-20.59a2.836,2.836,0,1,1,3.112-4.742l34.895,22.9a2.833,2.833,0,0,1,.062,4.7L220.95,273.5A2.827,2.827,0,0,1,219.336,274Z"
                                        transform="translate(-216.497 -221.228)" fill="#1a1f49" />
                                </g>
                                <g id="Group_402" data-name="Group 402" transform="translate(0 15.915)">
                                    <path id="Path_408" data-name="Path 408"
                                        d="M216.986,273.641a2.82,2.82,0,0,1-1.614-.508l-34.9-24.208a2.837,2.837,0,0,1,.06-4.7l34.9-22.9a2.835,2.835,0,0,1,3.11,4.742l-31.381,20.591L218.6,268.474a2.837,2.837,0,0,1-1.618,5.166Z"
                                        transform="translate(-179.256 -220.864)" fill="#1a1f49" />
                                </g>
                                <g id="Group_403" data-name="Group 403" transform="translate(42.99)">
                                    <path id="Path_409" data-name="Path 409"
                                        d="M204.277,298.667a2.84,2.84,0,0,1-2.756-3.508l19.533-80.343a2.836,2.836,0,0,1,5.511,1.339L207.032,296.5A2.84,2.84,0,0,1,204.277,298.667Z"
                                        transform="translate(-201.44 -212.652)" fill="#1a1f49" />
                                </g>
                            </g>
                        </g>
                        <path id="Path_411" data-name="Path 411"
                            d="M182.5,177.892a38.073,38.073,0,1,1-38.071-38.071A38.071,38.071,0,0,1,182.5,177.892Z"
                            transform="translate(26.373 91.661)" fill="#98d9f8" />
                        <path id="Path_412" data-name="Path 412"
                            d="M154.354,168.714a19.105,19.105,0,1,1-19.105-19.107A19.107,19.107,0,0,1,154.354,168.714Z"
                            transform="translate(35.554 100.838)" fill="#02245d" />
                        <g id="Group_407" data-name="Group 407" transform="translate(191.974 358.606)">
                            <rect id="Rectangle_771" data-name="Rectangle 771" width="10.914" height="33.902"
                                transform="translate(44.526 95.672)" fill="#fff" />
                            <path id="Path_413" data-name="Path 413"
                                d="M237.938,255.928a50.5,50.5,0,1,1-50.506-50.506A50.505,50.505,0,0,1,237.938,255.928Z"
                                transform="translate(-136.928 -205.422)" fill="#00a5d8" />
                            <path id="Path_414" data-name="Path 414"
                                d="M157.328,263.539v77.674a9.753,9.753,0,0,0,9.751,9.753h1.4a9.752,9.752,0,0,0,9.753-9.753V263.539Z"
                                transform="translate(-117.796 -150.918)" fill="#f16a4a" />
                            <path id="Path_415" data-name="Path 415"
                                d="M221.4,250.533a39.36,39.36,0,1,1-39.361-39.359A39.36,39.36,0,0,1,221.4,250.533Z"
                                transform="translate(-131.534 -200.028)" fill="#fff" />
                        </g>
                    </g>
                </g>
            </svg> -->
            <img class="gifhome" src="../../../assets/images/homepage-1.gif">

            <div class="row" style="position: relative;bottom: 99px;">
                <div class="col-2">

                </div>
                <div class="col-8">
                    <label class="lblimg">Collabrative, Clean Data Lake Controlled Quality for Consumption
                    </label>
                    <label class="lblimg">

                    </label>
                </div>
                <div class="col-2">

                </div>
            </div>

        </div>


        <ul _ngcontent-ccg-c3="" class="nav" style="margin: 5%;">
            <li _ngcontent-ccg-c3="" class="nav-item" style="position: absolute; bottom: 10px;">
                <a _ngcontent-ccg-c3="" class="nav-link" href="index.html">
                    <span _ngcontent-ccg-c3="" style="font-size: 9px;line-height: 1rem;color: white;">
                        Version 1.0 | Copyrights © Gathi Analytics LLC
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="right_side">
        <div class="row top_nav">
            <header class="header" style="width: 100%;">
                <nav class="navbar navbar-expand-lg" style="float:right;">
                    <div class="collapse navbar-collapse" id="navb" style="margin-top: 2px;">
                        <div class="row">


                            <div class="col-8">

                            </div>
                            <div class="col-4" style="padding-right: 60px;">
                                <ul class="navbar-nav mr-auto" style="float: right; margin-top: 20px;">
                                    <li class="nav-item" style="width: 150px;text-align: end;"><a class="nav-link"
                                            href="javascript:void(0)" style="color:#1691d4; ">{{userName}}</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">
                                            <svg class="iconn" xmlns="http://www.w3.org/2000/svg" width="31.68"
                                                height="31.68" viewBox="0 0 31.68 31.68">
                                                <g id="baseline-help-24px" transform="translate(0 0)">
                                                    <path id="Path_19" data-name="Path 19" d="M0,0H31.68V31.68H0Z"
                                                        fill="none" />
                                                    <path id="Path_20" data-name="Path 20"
                                                        d="M15.2,2A13.2,13.2,0,1,0,28.4,15.2,13.2,13.2,0,0,0,15.2,2Zm1.32,22.44H13.88V21.8h2.64Zm2.732-10.23-1.188,1.214A4.494,4.494,0,0,0,16.52,19.16H13.88V18.5a5.313,5.313,0,0,1,1.544-3.736L17.061,13.1a2.581,2.581,0,0,0,.779-1.861,2.64,2.64,0,0,0-5.28,0H9.92a5.28,5.28,0,0,1,10.56,0A4.2,4.2,0,0,1,19.252,14.21Z"
                                                        transform="translate(0.64 0.64)" fill="#1691d4" />
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">
                                            <svg class="iconn" xmlns="http://www.w3.org/2000/svg" width="21.12"
                                                height="25.74" viewBox="0 0 21.12 25.74">
                                                <path id="baseline-notifications-24px"
                                                    d="M14.56,28.24A2.648,2.648,0,0,0,17.2,25.6H11.92A2.639,2.639,0,0,0,14.56,28.24Zm7.92-7.92v-6.6c0-4.052-2.165-7.445-5.94-8.342v-.9a1.98,1.98,0,0,0-3.96,0v.9c-3.788.9-5.94,4.277-5.94,8.342v6.6L4,22.96v1.32H25.12V22.96Z"
                                                    transform="translate(-4 -2.5)" fill="#1691d4" />
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"
                                            (click)="logout()">
                                            <svg class="iconn" id="baseline-person-24px"
                                                xmlns="http://www.w3.org/2000/svg" width="31.68" height="31.68"
                                                viewBox="0 0 31.68 31.68">
                                                <path id="Path_17" data-name="Path 17"
                                                    d="M14.56,14.56A5.28,5.28,0,1,0,9.28,9.28,5.279,5.279,0,0,0,14.56,14.56Zm0,2.64C11.036,17.2,4,18.969,4,22.48v2.64H25.12V22.48C25.12,18.969,18.084,17.2,14.56,17.2Z"
                                                    transform="translate(1.28 1.28)" fill="#1691d4" />
                                                <path id="Path_18" data-name="Path 18" d="M0,0H31.68V31.68H0Z"
                                                    fill="none" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="srch">
            <div class="row" style="margin-top: 25px;">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-5">
                    <input class="form-control mr-sm-2" autocomplete="off" value="{{searchdata}}"
                        [(ngModel)]="searchdata" name="searchmain" *ngIf="rolename != 'SA' && rolename!='OA'"
                        (keyup)="suggessions($event)" placeholder="Search..."
                        style="width: 100%;border: 1px solid lightblue;border-radius: 2.5px;">
                    <div *ngIf="searchdata.length>=3 && searchSugesnRes.length==0 && resSta==0"
                        class="suggestions loading">
                        Loading...
                    </div>
                    <div *ngIf="searchdata.length>=3 && searchSugesnRes.length>0 && searchdata!=''" class="suggestions">
                        <div class="datasug" [routerLink]="['/catalog/searchResults',data.suggestions] "
                            (click)="searchslctdobj(data.suggestions)" *ngFor="let data of searchSugesnRes">
                            {{data.suggestions}}
                        </div>
                    </div>
                    <div *ngIf="searchdata.length>=3 && searchSugesnRes.length==0 && resSta==1"
                        class="suggestions loading">
                        No Data Found
                    </div>
                </div>
            </div>
        </div>
        <div class="contnt">
            <div class="row" style="    padding-top: 25px;">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-5 margin-left20">
                    <p class="accord" [routerLink]="['/catalog']">Catalog</p>
                    <div class="demo1">
                        Catalog collects technical, business, and operational metadata that helps analysts and other data users to find the data that they need, serves as an inventory of available data, and provides information to evaluate fitness data for intended
 uses.
                    </div>
                    <p class="accord1" [routerLink]="['/curate']">Curate</p>
                    <div class="demo2">
                        Curate organizes and integrates the data collected from various sources. Data Preparation leverages your trusted data assets to build Data Ingestion, preparation, and consumption processes through Simple and Intuitive interface for your data
 lake quickly. Data Quality configures Technical, Business, Custom Quality and Standardization rules to incoming data. Self Service enables the power users to build transformation and apply business rules to the data.
                    </div>
                    <p class="accord2">Context</p>
                    <div class="demo3">
                        Provides comprehensive context about data by rich metadata, lineage, data quality coupled with intuitive search engine.
                    </div>
                    <p class="accord3">Consume</p>
                    <div class="demo4">
                        Data Federation capabilities (Data Virtualization, on-demand Data Preparation, Provisioning and BI) for quick Data Exploration and using robust API layer to operationalize MIS, Regulatory, Analytics.
                    </div>
                </div>
            </div>
        </div>
        <div class="contnt">
            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-5 ">
                    <hr style="border: 0.5px solid #c5ccd4;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-5 margin-left20">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol id="myCarousel-indicators" class="carousel-indicators" style="position: inherit;justify-content: flex-end;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="home_down" style="color: #c5ccd4;" [routerLink]="['/operations']">Operations</p>
                        </div>
                        <div class="carousel-item">
                            <p class="home_down" style="color: #c5ccd4;" [routerLink]="['/admin']" >Admin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>