h5{
    display: inline-block;
}
hr{
    margin: 0;
}
.header span{
    float: right;
}
.btnblock{
    text-align: center;
}
.content{
    margin: 10px;
    min-height: 100px;
}


.inpt {
    // width: 100%;
    margin-top: 10px;
    height: 38px;
    border: 1px solid #ced4da;
    padding: 10px;
    outline: 0;
  }