<div class="row catalog_subnav">
    <div class="col-2">
        <div class="catalogLogo">
            <svg class="mainLogo" xmlns="http://www.w3.org/2000/svg" width="21.473" height="21.473"
                viewBox="0 0 21.473 21.473">
                <g id="Group_321" data-name="Group 321" transform="translate(-65.264 -222.104)">
                    <g id="dashboard" transform="translate(65.264 222.104)">
                        <path id="Path_261" data-name="Path 261"
                            d="M8.276,0H1.566A1.567,1.567,0,0,0,0,1.566V5.592A1.567,1.567,0,0,0,1.566,7.158h6.71A1.567,1.567,0,0,0,9.842,5.592V1.566A1.567,1.567,0,0,0,8.276,0Zm0,0"
                            fill="#1656a2" />
                        <path id="Path_262" data-name="Path 262"
                            d="M8.276,213.332H1.566A1.567,1.567,0,0,0,0,214.9v9.394a1.567,1.567,0,0,0,1.566,1.566h6.71a1.567,1.567,0,0,0,1.566-1.566V214.9A1.567,1.567,0,0,0,8.276,213.332Zm0,0"
                            transform="translate(0 -204.385)" fill="#1656a2" />
                        <path id="Path_263" data-name="Path 263"
                            d="M285.608,341.332H278.9a1.567,1.567,0,0,0-1.566,1.566v4.026a1.567,1.567,0,0,0,1.566,1.566h6.71a1.567,1.567,0,0,0,1.566-1.566V342.9A1.567,1.567,0,0,0,285.608,341.332Zm0,0"
                            transform="translate(-265.701 -327.017)" fill="#1656a2" />
                        <path id="Path_264" data-name="Path 264"
                            d="M285.608,0H278.9a1.567,1.567,0,0,0-1.566,1.566V10.96a1.567,1.567,0,0,0,1.566,1.566h6.71a1.567,1.567,0,0,0,1.566-1.566V1.566A1.567,1.567,0,0,0,285.608,0Zm0,0"
                            transform="translate(-265.701)" fill="#1656a2" />
                    </g>
                </g>
            </svg>
            Catalog
        </div>

    </div>
</div>

<div class="row" style="margin-top: 3%; margin-left:2%">
    <div class="col-sm-7 conn-main-page">
        <div class="bus-glo-list">
            <div class="row cll">
                <div [routerLink]="['/catalog/connectors']" class="bus-glo-head" id="grad1">
                    <div class="bus-glo-txt" style="top:65%;">Connector</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="95" height="72.093" viewBox="0 0 75 100">
                        <g id="business-affiliate-network" transform="translate(0 -0.911)">
                            <g id="Layer_1_110_" transform="translate(0 0.911)">
                                <g id="Group_261" data-name="Group 261">
                                    <path id="Path_252" data-name="Path 252"
                                        d="M24,21.282,19.441,16.97a6.686,6.686,0,0,0,.86-3.238,6.812,6.812,0,1,0-3.188,5.724l4.556,4.307A15.5,15.5,0,0,1,24,21.282Z"
                                        transform="translate(4.03 2.697)" fill="#fff"></path>
                                    <path id="Path_253" data-name="Path 253"
                                        d="M30.751,24.351l6.062-10.2a6.691,6.691,0,1,0-2.941-1.717L27.829,22.605A15.14,15.14,0,0,1,30.751,24.351Z"
                                        transform="translate(16.579 -0.911)" fill="#fff"></path>
                                    <path id="Path_254" data-name="Path 254"
                                        d="M48.394,20.952a6.76,6.76,0,0,0-6.332,4.428l-8.422-.831c0,.064.01.124.01.187a15.509,15.509,0,0,1-.34,3.206l8.419.831a6.756,6.756,0,1,0,6.665-7.821Z"
                                        transform="translate(19.844 11.028)" fill="#fff"></path>
                                    <path id="Path_255" data-name="Path 255"
                                        d="M30.8,40.7l-1.883-8.228a15.418,15.418,0,0,1-3.322.768l1.886,8.229A6.746,6.746,0,1,0,30.8,40.7Z"
                                        transform="translate(14.195 17.889)" fill="#fff"></path>
                                    <path id="Path_256" data-name="Path 256"
                                        d="M22.91,25.37,12.426,28.882a6.754,6.754,0,1,0,1.107,3.691c0-.156-.034-.3-.046-.453L24,28.6A15.451,15.451,0,0,1,22.91,25.37Z"
                                        transform="translate(0 13.66)" fill="#fff"></path>
                                    <circle id="Ellipse_34" data-name="Ellipse 34" cx="11.603" cy="11.603" r="11.603"
                                        transform="translate(26.424 24.161)" fill="#fff"></circle>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

                <div [routerLink]="['/catalog/register']" class="bus-glo-head" id="grad1">
                    <div class="bus-glo-txt" style="top:65%;">Register</div>
                    <svg id="website" xmlns="http://www.w3.org/2000/svg" width="95" height="72.093"
                        viewBox="0 0 75 100">
                        <g id="Group_262" data-name="Group 262">
                            <path id="Path_260" data-name="Path 260"
                                d="M61.78,0H1.865A1.865,1.865,0,0,0,0,1.865V61.78a1.865,1.865,0,0,0,1.865,1.865H61.78a1.865,1.865,0,0,0,1.865-1.865V1.865A1.865,1.865,0,0,0,61.78,0ZM38.493,12.529a1.863,1.863,0,1,1-.547,1.319A1.877,1.877,0,0,1,38.493,12.529Zm-9.987,0a1.866,1.866,0,1,1-.546,1.319A1.878,1.878,0,0,1,28.506,12.529ZM19.839,23.966H43.805a1.865,1.865,0,1,1,0,3.729H19.839a1.865,1.865,0,0,1,0-3.729ZM49.8,51.661H13.848a1.865,1.865,0,1,1,0-3.729H49.8a1.865,1.865,0,0,1,0,3.729Zm0-11.983H13.848a1.865,1.865,0,0,1,0-3.729H49.8a1.865,1.865,0,1,1,0,3.729Zm1.318-24.512a1.863,1.863,0,1,1,.547-1.319A1.877,1.877,0,0,1,51.115,15.166Z"
                                fill="#fff"></path>
                        </g>
                    </svg>
                </div>
                <div class="bus-glo-head" id="grad1">
                    <div class="bus-glo-txt">Business Glossary</div>
                    <svg id="portfolio" xmlns="http://www.w3.org/2000/svg" width="95" height="72.093"
                        viewBox="0 0 75 100">
                        <path id="Path_257" data-name="Path 257" d="M211,240h11.129v3.71H211Zm0,0"
                            transform="translate(-181.946 -205.751)" fill="#fff"></path>
                        <path id="Path_258" data-name="Path 258"
                            d="M56.171,105.36H44.761v2.177a2.106,2.106,0,0,1-2.028,2.177H26.5a2.106,2.106,0,0,1-2.028-2.177V105.36H13.066A6.132,6.132,0,0,1,7.293,100.9L0,77.41v47.542a6.327,6.327,0,0,0,6.085,6.531H63.152a6.327,6.327,0,0,0,6.085-6.531V77.412L61.943,100.9A6.131,6.131,0,0,1,56.171,105.36Zm0,0"
                            transform="translate(0 -67.838)" fill="#fff"></path>
                        <path id="Path_259" data-name="Path 259"
                            d="M65.427,0H49.044C45.657,0,42.9,2.5,42.9,5.564V7.419H25.809l7.724,20.99a2.041,2.041,0,0,0,1.944,1.268H47V27.822a1.958,1.958,0,0,1,2.048-1.855H65.427a1.958,1.958,0,0,1,2.048,1.855v1.855H79a2.041,2.041,0,0,0,1.944-1.268l7.724-20.99H71.571V5.564C71.571,2.5,68.815,0,65.427,0ZM47,7.419V5.564A1.96,1.96,0,0,1,49.044,3.71H65.427a1.96,1.96,0,0,1,2.048,1.855V7.419Zm0,0"
                            transform="translate(-22.617)" fill="#fff"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="Lobstat">
                <h4>Catalog Statistics</h4>
            </div>
        </div>
        <div class="row lob">
            <div class="col-sm-4">
                <label>Select LOB</label>
                <select class="form-control" (change)="getApplications()" [(ngModel)]="connection.lob">
                    <!-- <option>Select Environment</option> -->
                    <option *ngFor="let lob of lobnames" value="{{lob.ln_of_bsn_id}}">{{lob.ln_of_bsn_nm}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Select Application</label>
                <select class="form-control" (change)="getchart()" [(ngModel)]="connection.application">
                    <!-- <option>Select Environment</option> -->
                    <option *ngFor="let app of applications" value="{{app.apn_nm}}">{{app.apn_nm}}</option>
                </select>
            </div>
        </div>
        <div class="row chart">
            <div class="col-sm-8" style="width: 100%;">
                <canvas class="charts" id="bar">

                </canvas>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
    <div class="side_data col-sm-5">
        <h3>Catalog Guide</h3>
        <hr>
        <div class="side_data1">
            <h5>Connector</h5>
            <p>Configure reusable and secure connection with the data source. Use the connection for data and metadata
                extraction. Supported connections - Database. File system, cloud.</p>

            <h5>Register</h5>
            <p>Registration is the process of defining the source data.Describe the data types and formats. Register the
                source file as an object to the data lake and access it with the registered object name for data
                ingestion and consumption.</p>

            <h5>Business Glossary</h5>
            <p>Build and manage a common business vocabulary and make it available across an organization. this
                vocabulary furnishes clear meaning and business context and can be linked to the underlying technical
                metadata to provide a direct association between business terms and objects.</p>



        </div>
        <div class="video-wrapper">
            <video class="video" width="100%" controls>
                <source src="C:\Users\Bharath Kumar\Desktop\Ic4\1.mp4" type="">
            </video>
            <!-- <div class="playButton" onclick="playPause()"></div> -->
        </div>

    </div>
</div>
<router-outlet></router-outlet>